.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #fff;

  &__list {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
}

a {
  text-decoration: none;
  color: #333;

  transition: color 0.3s ease-in-out;

  &:hover {
    color: #a5a3a3;
  }
}

#introduction,
#about,
#skills,
#projects,
#contact {
  scroll-margin-top: 70px;
}
