.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  &__profile {
    display: flex;
    align-items: center;
  }

  &__portrait {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    margin-left: 1rem;
    font-size: 1em;
  }

  &__menuButton {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__collapseMenu {
    display: none;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &__profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }

    &__portrait {
      margin-bottom: 0.5rem;
    }

    &__name {
      margin-left: 0;
      font-size: 1.5rem;
    }

    &__menuButton {
      display: block;
    }

    .Header__collapseMenu {
      display: block;
      width: 100%;
    }

    .Header__navbar {
      display: none;
    }
  }
}
