.About {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 2rem;
    font-weight: 300;
    color: #333;
  }

  &__text {
    font-size: 1rem;
    font-weight: 300;
    color: #333;
    text-align: center;
    margin: 20px;
  }

  &__icon {
    margin: 10px 0;
    font-size: 2rem;
    color: #696969;
  }
}
