.About {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;

  &__title {
    font-size: 2rem;
    font-weight: 300;
    color: #333;
  }

  &__text {
    font-size: 1rem;
    font-weight: 300;
    color: #333;
    text-align: center;
    margin: 20px;
    width: 50%;

    &__bold {
      font-weight: 600;
    }
  }

  &__icon {
    margin: 10px 0;
    font-size: 3rem;
    color: #696969;
  }
}
