.About {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;

  &__title {
    font-size: 2rem;
    font-weight: 300;
    color: #333;
  }

  &__text {
    font-size: 1rem;
    font-weight: 300;
    color: #333;
    text-align: justify;
    margin: 20px;
    width: 50%;

    &__bold {
      font-weight: 600;

      width: 50%;
    }
  }

  &__icon {
    margin: 10px 0;
    font-size: 3rem;
    color: #696969;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .About {
    &__text {
      width: 80%;
      &__bold {
        width: 80%;
      }
    }
  }
}
